# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/generated_plugin_registrant.dart
build/
pubspec.lock  # Keep this in the repo as it ensures the same versions of dependencies across machines.

# Android related
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/Pods/
**/ios/**/DerivedData/
**/ios/**/xcuserdata
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.zip
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS specific
**/macos/Flutter/ephemeral
**/Pods/

# Windows specific
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Linux specific
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Visual Studio Code related
.vscode/*
launch.json  # Ignore this file unless team debugging configurations are needed.

# IntelliJ/IDEA related
.idea/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
.idea/modules.xml

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.tmp
*.temp
*.bak

# Firebase/Google Services
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist

# FVM (Flutter Version Management)
.fvm/flutter_sdk
.fvm/fvm_config.json
.fvm/release
.fvm/versions/
.fvm/version

# Node.js specific (if applicable)
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Test and coverage related
coverage/
test-outputs/
test-results/
.jest/
*.test.js.snap

# App Symbols (if used for debugging)
app.*.symbols

# Exceptions to above rules
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/dev/ci/**/Gemfile.lock
!**/.vscode/launch.json

# Auto-generated Dart files (e.g., from build_runner or auto_route)
**/*.g.dart
**/*.gr.dart
**/*.freezed.dart
**/*.injectable.dart
**/*.mocks.dart
